<div class="sidebar bg-success">

    <div class="logo">

        <i class="bi bi-mortarboard-fill"></i>

        LMS Admin

    </div>

    <ul>

        <li>

            <a asp-controller="Dashboard"
               asp-action="Index">

                <i class="bi bi-grid-fill"></i>

                Dashboard

            </a>

        </li>

        <li>

            <a asp-action="CourseManagment">

                <i class="bi bi-book-fill"></i>

                Courses

            </a>

        </li>

        <li>

            <a asp-action="CategoryManagement">

                <i class="bi bi-folder-fill"></i>

                Categories

            </a>

        </li>

        <li>

            <a asp-action="InstructorManagement">

                <i class="bi bi-person-video3"></i>

                Instructors

            </a>

        </li>

        <li>

            <a asp-action="EnrollmentManagement">

                <i class="bi bi-journal-check"></i>

                Enrollments

            </a>

        </li>


    </ul>

</div>