<div class="row mt-5">

    <div class="col-lg-7">

        <div class="card shadow border-0">

            <div class="card-header bg-white">

                <h4 class="fw-bold">

                    Top Courses

                </h4>

            </div>

            <div class="card-body">

                @foreach (var course in Model.TopCourses)
                {
                    <div class="d-flex align-items-center mb-4">

                        <img src="~/Images/@course.ImageUrl"
                             width="90"
                             height="65"
                             class="rounded">

                        <div class="ms-3 flex-grow-1">

                            <h6 class="fw-bold mb-1">

                                @course.Title

                            </h6>

                            <small class="text-muted">

                                @course.EnrollmentsCount Students

                            </small>

                        </div>

                        <span class="badge bg-success">

                            $@course.Price

                        </span>

                    </div>
                }

            </div>

        </div>

    </div>
    <style>
            .dashboard-card {
                border-radius: 18px;
                color: white;
                padding: 25px;
                box-shadow: 0 10px 30px rgba(0,0,0,.15);
                transition: .35s;
                cursor: pointer;
            }

                .dashboard-card:hover {
                    transform: translateY(-8px);
                }

                .dashboard-card i {
                    font-size: 35px;
                    margin-bottom: 15px;
                }

                .dashboard-card h3 {
                    font-weight: 700;
                }

                .dashboard-card span {
                    opacity: .9;
                }

            .card {
                border-radius: 18px;
            }

            .card-header {
                border-bottom: none;
                padding: 18px;
            }

            .table td {
                vertical-align: middle;
            }

            img {
                object-fit: cover;
            }
    </style>